<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Конвертер docx в формат для Moodle"/>
    <title>DOCX to GIFT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bg.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png') }} " type="image/jpg">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div id="result-bg" class="bg"></div>


<h1>Конвертация docx для использования с макросом экспорта в GIFT</h1>


<section class="container">
    <div class="halfs left-half">
        <article>
            <p><b>Требования к документу</b></p>
            <ul>
                <li>В документе должны быть только вопросы и ответы</li>
                <li>Вопросы должны быть разделены пустыми строками</li>
                <li>Нумерацию вопросов (если она распознаётся Word) можно оставить</li>
            </ul>
            <p><b>Инструкция</b></p>
            <ol>
                <li>Откройте шаблон и скопируйте в него свой тест</li>
                <li><i>Конвертируйте</i> этот шаблон в формат <b>DOCX</b></li>
                <li>Загрузите сохранённый файл в окне справа</li>
                <li>Обработанный файл скачается автоматически</li>
                <li><i>Конвертируйте</i> скачанный файл в формат <b>WORD 97-2003</b></li>
                <li><b>Проверьте</b>, что варианты ответов стали цветными и отредактируйте документ, если
                    это необходимо
                </li>
                <li>Выполните экспорт этого документа в формате GIFT</li>
            </ol>
            <p>Сделал <a style="color: #416dea" href="https://vk.com/wndenis" target="_blank">wndenis</a>
                вместе с <a style="color: #416dea" href="https://vk.com/dream2904" target="_blank">eklera</a></p>
            <p>Проблемы? Писать сюда ----> <a style="color: #416dea" href="https://vk.com/wndenis" target="_blank">помогите</a></p>
            <p>Обработано {{ stats }} файлов</p>

        </article>
    </div>
    <div class="halfs right-half">
        <article>
            <form style="height: 100%" id="form" method="post" enctype="multipart/form-data">

                <div id="dragndrop" class="file-drop-area">
                    <span class="fake-btn button -regular center">Выберите файл</span>
                    <span class="file-msg">или перетащите его сюда</span>
                    <input type="file" name="userDocument" accept="application/msword, .docx" class="file-input">
                </div>

                <div id="results" class="list-bg hidden">
                    <h2 id="filename" class="hidden">Если вы это видите, обновите страницу</h2>
                    <ul id="results-elements" style="list-style-type: none; color: #202129; margin-bottom: 0.25%">

                    </ul>
                </div>

                <div>
                    <div id="button" class='button -regular hidden' style="width: 20%; margin: 1% auto auto;">
                        Отправить
                    </div>
                    <!--    При нажатии начинать показывать список-->
                </div>

                <div>
                    <div id="new-file" class='button -regular hidden' style="width: 30%; margin: 5% auto auto;">
                        Проверить другой
                        файл
                    </div>
                    <!--    При нажатии начинать показывать список-->
                </div>

            </form>
        </article>
    </div>
</section>


<!--TODO: добавить label-->

{##}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>